


h1{



	  color:#A87235;
/*background-image: url(125.jpg)*/

}

h2{

	  color:#A87235;
}


.breadcrumb breadcrumb_bg align-items-center{

/*
background-image: url(125.jpg);*/
/*  background-repeat: no-repeat;*/

background-image: no repeat;

}

h4{
	  color:#A87235;
}

}

h3{

	 color:#A87235;

}



.breadcrumb{
   /* background-image: url(125.jpg)*/

    text-align:center;
    padding-top: 100px;
    background: url('125.jpg') no-repeat center;
    background-size:cover;
    padding-bottom: 400px;
}




}

body > section.about_part.experiance_part.section_padding.single_experiance_section
{ background-image: url(167.jpg)}
}

.breadcrumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
/*   background-image: url(125.jpg)*/
    content: "";
}




body > section.about_part.experiance_part.section_padding.single_experiance_section > div > div > div:nth-child(1) > div > div > div.about_iner_content > h3
{ color:#A87235;}


.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
/*  background-image: url(125.jpg)*/
    border-radius: .25rem;
}



.breadcrumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: #001b5e; */
/*   background-image: url(125.jpg)
*/
    content: "";
}



.gold{font-size: 2em;
text-align: center;







}
body > section:nth-child(4){




    padding:none;
}
body > section.about_part.experiance_part.section_padding.single_experiance_section > div > div > div:nth-child(2) > div > img
{
/*    background-image: url(125.jpg)*/
}
body > section:nth-child(4)


{padding-top: 0px}

body > section.our_service.section_padding.single_page_services > div > div:nth-child(1) > div

{color:#A87235 }
.section_tittle h2{
   color:#A87235
}

body{/*

    */  background-color: color:#A87235;  }


body > section.about_part.experiance_part.section_padding.single_experiance_section > div > div > div:nth-child(1) > div > div > div.about_iner_content > h3 > span{
  color:#A87235;

}

body > section:nth-child(3) > div > div > div.col-md-6.col-lg-5 > div > ul > li:nth-child(1) > h3
{  color:#A87235;}

body > section:nth-child(3) > div > div > div.col-md-6.col-lg-5 > div > ul > li:nth-child(2) > h3{
    color:#A87235;
}

body > section:nth-child(3) > div > div > div.col-md-6.col-lg-5 > div > ul > li:nth-child(2) > span{
     color:#A87235;  
}

body > section:nth-child(3) > div > div > div.col-md-6.col-lg-5 > div > ul > li:nth-child(1) > span{
 color:#A87235;  

}
#navbarSupportedContent > ul > li:nth-child(2) > a{
     color:#A87235; 
}
#navbarSupportedContent > ul > li:nth-child(3) > a{
     color:#A87235; 
}

#navbarSupportedContent > ul > li:nth-child(4) > a{
    `
}


body > section.our_service.section_padding.single_page_services > div > div:nth-child(2) > div:nth-child(1) > div > div > span

{ color:#A87235;   }

body > section.our_service.section_padding.single_page_services > div > div:nth-child(2) > div:nth-child(2) > div > div > span
{color:#A87235;  }

body > section.our_service.section_padding.single_page_services > div > div:nth-child(2) > div:nth-child(3) > div > div > span
{color:#A87235; }
body > section.our_service.section_padding.single_page_services > div > div:nth-child(2) > div:nth-child(1) > div > div > h4:nth-child(3) > p
{font:justify;}
body > section.our_service.section_padding.single_page_services > div > div:nth-child(1) > div > div > h2
{text-align: center;}

body > header
{}


body > section:nth-child(3)
{margin:25px;
    padding:0;)}


body > header > div > div > div > nav > button > span{
color:#A87235;

}
body > section.about_part.experiance_part.section_padding.single_experiance_section > div > div > div:nth-child(1) > div > div > div.about_text_counter > h2
{color:#A87235;}
#navbarSupportedContent > ul > li:nth-child(4) > a
{color:#A87235; }
body > section.about_part.experiance_part.section_padding.single_experiance_section > div > div


